<app-listdemo></app-listdemo>

<!--<p>Hello</p>-->

<!--<app-event></app-event>-->

<!--<hr>-->
<!--{{title | uppercase}}-->
<!--<hr>-->
<!--{{PipeDemo | json}}-->
<!--<hr>-->

<!--<ul>-->
<!--<li *ngFor="let event of events">-->
<!--{{event}}-->
<!--</li>-->
<!--</ul>-->

<!--<input type="text" [(ngModel)]="inputContent">-->
<!--<div>-->
  <!--{{inputContent}}-->
<!--</div>-->

<!--<button (click)="toggle()"-->
        <!--(dblclick)="demo($event)"-->
        <!--[disabled]="klikkeljunke"-->
<!--&gt;Toggle</button>-->

<!--<div *ngIf="show">-->
    <!--<p>Jackson</p>-->
<!--</div>-->

<!--<div [ngClass]="{ 'valami' : show } ">-->
  <!--<p>-->
    <!--ngClassDemo-->
  <!--</p>-->
<!--</div>-->

<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
<!--<app-alma></app-alma>-->
